name: execute release actions
permissions:
  contents: write
  checks: read

on:
  push:
    branches:
    - "**"

jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: get version
      id: version
      uses: frozengoats/github-actions/version@version-v1
      with:
        filename: VERSION

    - name: lint-check
      run: make lint-check

    - name: test
      run: make test

    - name: build release
      run: make build

    - name: locate binary
      run: ls -la ${{ github.workspace }}/bin/*

    - name: login to docker hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - if: ${{ steps.version.outputs.on-parent-branch == 'true' }}
      name: publish docker image
      run: make publish

    - uses: frozengoats/github-actions/release@release-v1
      with:
        create-release: true
        create-version-tag: true
        create-major-version-tag: true
        binary-path: ${{ github.workspace }}/bin/evo
        binary-name: evo